div{
    text-align: center;
    background-color: gray;
    width: 200px;
    height: 200px;
    margin-left: 50px;
}
div:hover{
    background-color:blue;
}
h1{
    color:black;
    padding: 50px;
}